ConsoleApplication1/Service References/ServiceReferenceFactory/FactoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clientver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dbsource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="licence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userpower" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserKey" nillable="true" type="tns:UserKey" />
</xs:schema>