ConsoleApplication1/Service References/ServiceReferenceFactory/FactoryService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.WebExtension.KType.WEB001" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.WebExtension.KType.WEB001" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PageBox">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Cycle" type="xs:int" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ver" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageBox" nillable="true" type="tns:PageBox" />
</xs:schema>