WebTest/Service References/ServiceReferenceFactory/FactoryService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.DataBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.DataBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FilterText">
    <xs:sequence>
      <xs:element minOccurs="0" name="order_text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="where_text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterText" nillable="true" type="tns:FilterText" />
</xs:schema>