WebTest/Service References/ServiceReferenceFactory/FactoryService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.WebExtension.KType.WEB001.Controls" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.WebExtension.KType.WEB001.Controls" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.ttbems.com/Core/FactoryService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPageChart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageChart" nillable="true" type="tns:PageChart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageChart" nillable="true" type="tns:ArrayOfPageChart" />
  <xs:complexType name="PageChart">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxValue" type="xs:double" />
      <xs:element minOccurs="0" name="MinValue" type="xs:double" />
      <xs:element minOccurs="0" name="Series" nillable="true" type="tns:ArrayOfChartSeries" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageChart" nillable="true" type="tns:PageChart" />
  <xs:complexType name="ArrayOfChartSeries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChartSeries" nillable="true" type="tns:ChartSeries" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChartSeries" nillable="true" type="tns:ArrayOfChartSeries" />
  <xs:complexType name="ChartSeries">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxValue" type="xs:double" />
      <xs:element minOccurs="0" name="MinValue" type="xs:double" />
      <xs:element minOccurs="0" name="SeriesId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesPoints" nillable="true" type="tns:ArrayOfChartSeriesPoint" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SeriesValues" nillable="true" type="q1:ArrayOfArrayOfanyType" />
      <xs:element minOccurs="0" name="SumValue" type="xs:double" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChartSeries" nillable="true" type="tns:ChartSeries" />
  <xs:complexType name="ArrayOfChartSeriesPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChartSeriesPoint" nillable="true" type="tns:ChartSeriesPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChartSeriesPoint" nillable="true" type="tns:ArrayOfChartSeriesPoint" />
  <xs:complexType name="ChartSeriesPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="PointIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointObject" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="PointTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PointValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChartSeriesPoint" nillable="true" type="tns:ChartSeriesPoint" />
</xs:schema>