WebTest/Service References/ServiceReferenceFactory/FactoryService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.DataDefine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.DataDefine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Reco" />
      <xs:enumeration value="Orig" />
      <xs:enumeration value="Cons" />
      <xs:enumeration value="Exhi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TDataType" nillable="true" type="tns:TDataType" />
  <xs:simpleType name="TCycleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Quarter" />
      <xs:enumeration value="Hour" />
      <xs:enumeration value="Day" />
      <xs:enumeration value="Week" />
      <xs:enumeration value="Month" />
      <xs:enumeration value="Season" />
      <xs:enumeration value="Year" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TCycleType" nillable="true" type="tns:TCycleType" />
  <xs:complexType name="TCycleDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="HourOfDayDef" type="xs:int" />
      <xs:element minOccurs="0" name="HourOfDaySet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTimeEnable" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCycleDefinition" nillable="true" type="tns:TCycleDefinition" />
</xs:schema>