WebTest/Service References/ServiceReferencePublic/PublicService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.ttbems.com/Core/PublicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" />
  <xs:import schemaLocation="http://www.ttbems.com/Core/PublicService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://www.ttbems.com/Core/PublicService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.DataBase" />
  <xs:element name="Select_T_ElectricitySubTime_Dict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q1:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricitySubTime_DictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_ElectricitySubTime_DictResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricitySeason_Dict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q2:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricitySeason_DictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_ElectricitySeason_DictResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricityPriceValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q3:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricityPriceValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_ElectricityPriceValueResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricityPriceUseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Today" type="xs:boolean" />
        <xs:element minOccurs="0" name="F_Time" type="xs:dateTime" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q4:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricityPriceUseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_ElectricityPriceUseInfoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricityPrice_Dict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q5:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricityPrice_DictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_ElectricityPrice_DictResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricityPrice_Adjust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q6:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ElectricityPrice_AdjustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_ElectricityPrice_AdjustResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_BuildPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_BuildID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="multi" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q7:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_BuildPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_BuildPictureResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_BuildPicture2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BuildIDs" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="multi" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q10:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_BuildPicture2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_BuildPicture2Result" nillable="true" type="q11:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ML_DiagnosticModel_BaseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_DistrictCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_BuildID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_ModelDefID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_ModelNodeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_DiagnosticModelID" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q12:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ML_DiagnosticModel_BaseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_ML_DiagnosticModel_BaseInfoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_T_ML_DiagnosticModel_BaseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateObjects" nillable="true" type="q13:ArrayOfanyType" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q14:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_T_ML_DiagnosticModel_BaseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_T_ML_DiagnosticModel_BaseInfoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_T_ML_DiagnosticModel_BaseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InsertObjects" nillable="true" type="q15:ArrayOfanyType" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q16:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_T_ML_DiagnosticModel_BaseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_T_ML_DiagnosticModel_BaseInfoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_T_ML_DiagnosticModel_BaseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_DistrictCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_BuildID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_ModelDefID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_ModelNodeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_DiagnosticModelID" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q17:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_T_ML_DiagnosticModel_BaseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_T_ML_DiagnosticModel_BaseInfoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ML_DiagnosticModel_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_DiagnosticModelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsSelectData" type="xs:boolean" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q18:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ML_DiagnosticModel_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_ML_DiagnosticModel_DataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_T_ML_DiagnosticModel_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZipDatas" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q19:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_T_ML_DiagnosticModel_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_T_ML_DiagnosticModel_DataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_T_ML_DiagnosticModel_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZipDatas" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q20:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_T_ML_DiagnosticModel_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_T_ML_DiagnosticModel_DataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_T_ML_DiagnosticModel_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_DiagnosticModelID" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q21:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_T_ML_DiagnosticModel_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_T_ML_DiagnosticModel_DataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ML_DiagnosticModel_Dict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q22:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_ML_DiagnosticModel_DictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_ML_DiagnosticModel_DictResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_T_VD_Vacation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="F_EndTime" type="xs:dateTime" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q23:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_T_VD_VacationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_T_VD_VacationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Weather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="arg" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q24:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_WeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_WeatherResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Forecast_Day">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_PublicMeterID" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q25:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Forecast_DayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Forecast_DayResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Forecast_Hour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_PublicMeterID" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q26:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Forecast_HourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Forecast_HourResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_WeatherHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_PublicMeterID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_StartTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="F_EndTime" type="xs:dateTime" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q27:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_WeatherHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_WeatherHistoryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_WeatherHistory_Day">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_PublicMeterID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_StartTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="F_EndTime" type="xs:dateTime" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q28:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_WeatherHistory_DayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_WeatherHistory_DayResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_OV_AQIPM25RecordValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_Station_Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="F_StartTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="F_EndTime" type="xs:dateTime" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q29:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_OV_AQIPM25RecordValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_OV_AQIPM25RecordValueResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_T_OV_AQIPM25RecordValue_Newest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Top" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q30:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_T_OV_AQIPM25RecordValue_NewestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_T_OV_AQIPM25RecordValue_NewestResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_WX_PlatformInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.DataBase" minOccurs="0" name="ft" nillable="true" type="q31:FilterText" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q32:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_WX_PlatformInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_WX_PlatformInfoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_WX_UserBuildInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.DataBase" minOccurs="0" name="ft" nillable="true" type="q33:FilterText" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" minOccurs="0" name="userkey" nillable="true" type="q34:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_T_WX_UserBuildInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Select_T_WX_UserBuildInfoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>