WebTest/Service References/ServiceReferencePublic/PublicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.ttbems.com/Core/PublicService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.ttbems.com/Core/PublicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.ttbems.com/Core/PublicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TTBEMS.Framework" />
      <xsd:import schemaLocation="http://www.ttbems.com/Core/PublicService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://www.ttbems.com/Core/PublicService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TTBEMS.Framework.DataBase" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PublicService_Select_T_ElectricitySubTime_Dict_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricitySubTime_Dict" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricitySubTime_Dict_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricitySubTime_DictResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricitySeason_Dict_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricitySeason_Dict" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricitySeason_Dict_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricitySeason_DictResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricityPriceValue_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricityPriceValue" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricityPriceValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricityPriceValueResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricityPriceUseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricityPriceUseInfo" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricityPriceUseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricityPriceUseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricityPrice_Dict_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricityPrice_Dict" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricityPrice_Dict_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricityPrice_DictResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricityPrice_Adjust_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricityPrice_Adjust" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ElectricityPrice_Adjust_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ElectricityPrice_AdjustResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_BuildPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_BuildPicture" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_BuildPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_BuildPictureResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_BuildPicture2_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_BuildPicture2" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_BuildPicture2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_BuildPicture2Response" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ML_DiagnosticModel_BaseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ML_DiagnosticModel_BaseInfo" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ML_DiagnosticModel_BaseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ML_DiagnosticModel_BaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Update_T_ML_DiagnosticModel_BaseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_T_ML_DiagnosticModel_BaseInfo" />
  </wsdl:message>
  <wsdl:message name="PublicService_Update_T_ML_DiagnosticModel_BaseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_T_ML_DiagnosticModel_BaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Insert_T_ML_DiagnosticModel_BaseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_T_ML_DiagnosticModel_BaseInfo" />
  </wsdl:message>
  <wsdl:message name="PublicService_Insert_T_ML_DiagnosticModel_BaseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_T_ML_DiagnosticModel_BaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Delete_T_ML_DiagnosticModel_BaseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_T_ML_DiagnosticModel_BaseInfo" />
  </wsdl:message>
  <wsdl:message name="PublicService_Delete_T_ML_DiagnosticModel_BaseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_T_ML_DiagnosticModel_BaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ML_DiagnosticModel_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ML_DiagnosticModel_Data" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ML_DiagnosticModel_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ML_DiagnosticModel_DataResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Update_T_ML_DiagnosticModel_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_T_ML_DiagnosticModel_Data" />
  </wsdl:message>
  <wsdl:message name="PublicService_Update_T_ML_DiagnosticModel_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_T_ML_DiagnosticModel_DataResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Insert_T_ML_DiagnosticModel_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_T_ML_DiagnosticModel_Data" />
  </wsdl:message>
  <wsdl:message name="PublicService_Insert_T_ML_DiagnosticModel_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_T_ML_DiagnosticModel_DataResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Delete_T_ML_DiagnosticModel_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_T_ML_DiagnosticModel_Data" />
  </wsdl:message>
  <wsdl:message name="PublicService_Delete_T_ML_DiagnosticModel_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_T_ML_DiagnosticModel_DataResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ML_DiagnosticModel_Dict_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ML_DiagnosticModel_Dict" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_ML_DiagnosticModel_Dict_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_ML_DiagnosticModel_DictResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_T_VD_Vacation_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_T_VD_Vacation" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_T_VD_Vacation_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_T_VD_VacationResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_Weather_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Weather" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_Weather_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_WeatherResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_Forecast_Day_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Forecast_Day" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_Forecast_Day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Forecast_DayResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_Forecast_Hour_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Forecast_Hour" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_Forecast_Hour_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Forecast_HourResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_WeatherHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_WeatherHistory" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_WeatherHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_WeatherHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_WeatherHistory_Day_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_WeatherHistory_Day" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_WeatherHistory_Day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_WeatherHistory_DayResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_OV_AQIPM25RecordValue_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_OV_AQIPM25RecordValue" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_OV_AQIPM25RecordValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_OV_AQIPM25RecordValueResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_T_OV_AQIPM25RecordValue_Newest_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_T_OV_AQIPM25RecordValue_Newest" />
  </wsdl:message>
  <wsdl:message name="PublicService_Get_T_OV_AQIPM25RecordValue_Newest_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_T_OV_AQIPM25RecordValue_NewestResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_WX_PlatformInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_WX_PlatformInfo" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_WX_PlatformInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_WX_PlatformInfoResponse" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_WX_UserBuildInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_WX_UserBuildInfo" />
  </wsdl:message>
  <wsdl:message name="PublicService_Select_T_WX_UserBuildInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_T_WX_UserBuildInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="PublicService">
    <wsdl:operation name="Select_T_ElectricitySubTime_Dict">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricitySubTime_Dict" message="tns:PublicService_Select_T_ElectricitySubTime_Dict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricitySubTime_DictResponse" message="tns:PublicService_Select_T_ElectricitySubTime_Dict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricitySeason_Dict">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricitySeason_Dict" message="tns:PublicService_Select_T_ElectricitySeason_Dict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricitySeason_DictResponse" message="tns:PublicService_Select_T_ElectricitySeason_Dict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricityPriceValue">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricityPriceValue" message="tns:PublicService_Select_T_ElectricityPriceValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricityPriceValueResponse" message="tns:PublicService_Select_T_ElectricityPriceValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricityPriceUseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricityPriceUseInfo" message="tns:PublicService_Select_T_ElectricityPriceUseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricityPriceUseInfoResponse" message="tns:PublicService_Select_T_ElectricityPriceUseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricityPrice_Dict">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricityPrice_Dict" message="tns:PublicService_Select_T_ElectricityPrice_Dict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricityPrice_DictResponse" message="tns:PublicService_Select_T_ElectricityPrice_Dict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricityPrice_Adjust">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricityPrice_Adjust" message="tns:PublicService_Select_T_ElectricityPrice_Adjust_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_ElectricityPrice_AdjustResponse" message="tns:PublicService_Select_T_ElectricityPrice_Adjust_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_BuildPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Get_BuildPicture" message="tns:PublicService_Get_BuildPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Get_BuildPictureResponse" message="tns:PublicService_Get_BuildPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_BuildPicture2">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Get_BuildPicture2" message="tns:PublicService_Get_BuildPicture2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Get_BuildPicture2Response" message="tns:PublicService_Get_BuildPicture2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_ML_DiagnosticModel_BaseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_ML_DiagnosticModel_BaseInfo" message="tns:PublicService_Select_T_ML_DiagnosticModel_BaseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_ML_DiagnosticModel_BaseInfoResponse" message="tns:PublicService_Select_T_ML_DiagnosticModel_BaseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_T_ML_DiagnosticModel_BaseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Update_T_ML_DiagnosticModel_BaseInfo" message="tns:PublicService_Update_T_ML_DiagnosticModel_BaseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Update_T_ML_DiagnosticModel_BaseInfoResponse" message="tns:PublicService_Update_T_ML_DiagnosticModel_BaseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_T_ML_DiagnosticModel_BaseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Insert_T_ML_DiagnosticModel_BaseInfo" message="tns:PublicService_Insert_T_ML_DiagnosticModel_BaseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Insert_T_ML_DiagnosticModel_BaseInfoResponse" message="tns:PublicService_Insert_T_ML_DiagnosticModel_BaseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_T_ML_DiagnosticModel_BaseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Delete_T_ML_DiagnosticModel_BaseInfo" message="tns:PublicService_Delete_T_ML_DiagnosticModel_BaseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Delete_T_ML_DiagnosticModel_BaseInfoResponse" message="tns:PublicService_Delete_T_ML_DiagnosticModel_BaseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_ML_DiagnosticModel_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_ML_DiagnosticModel_Data" message="tns:PublicService_Select_T_ML_DiagnosticModel_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_ML_DiagnosticModel_DataResponse" message="tns:PublicService_Select_T_ML_DiagnosticModel_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_T_ML_DiagnosticModel_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Update_T_ML_DiagnosticModel_Data" message="tns:PublicService_Update_T_ML_DiagnosticModel_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Update_T_ML_DiagnosticModel_DataResponse" message="tns:PublicService_Update_T_ML_DiagnosticModel_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_T_ML_DiagnosticModel_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Insert_T_ML_DiagnosticModel_Data" message="tns:PublicService_Insert_T_ML_DiagnosticModel_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Insert_T_ML_DiagnosticModel_DataResponse" message="tns:PublicService_Insert_T_ML_DiagnosticModel_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_T_ML_DiagnosticModel_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Delete_T_ML_DiagnosticModel_Data" message="tns:PublicService_Delete_T_ML_DiagnosticModel_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Delete_T_ML_DiagnosticModel_DataResponse" message="tns:PublicService_Delete_T_ML_DiagnosticModel_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_ML_DiagnosticModel_Dict">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_ML_DiagnosticModel_Dict" message="tns:PublicService_Select_T_ML_DiagnosticModel_Dict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_ML_DiagnosticModel_DictResponse" message="tns:PublicService_Select_T_ML_DiagnosticModel_Dict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_T_VD_Vacation">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Get_T_VD_Vacation" message="tns:PublicService_Get_T_VD_Vacation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Get_T_VD_VacationResponse" message="tns:PublicService_Get_T_VD_Vacation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Weather">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Get_Weather" message="tns:PublicService_Get_Weather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Get_WeatherResponse" message="tns:PublicService_Get_Weather_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Forecast_Day">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Get_Forecast_Day" message="tns:PublicService_Get_Forecast_Day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Get_Forecast_DayResponse" message="tns:PublicService_Get_Forecast_Day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Forecast_Hour">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Get_Forecast_Hour" message="tns:PublicService_Get_Forecast_Hour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Get_Forecast_HourResponse" message="tns:PublicService_Get_Forecast_Hour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_WeatherHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Get_WeatherHistory" message="tns:PublicService_Get_WeatherHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Get_WeatherHistoryResponse" message="tns:PublicService_Get_WeatherHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_WeatherHistory_Day">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Get_WeatherHistory_Day" message="tns:PublicService_Get_WeatherHistory_Day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Get_WeatherHistory_DayResponse" message="tns:PublicService_Get_WeatherHistory_Day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_OV_AQIPM25RecordValue">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_OV_AQIPM25RecordValue" message="tns:PublicService_Select_T_OV_AQIPM25RecordValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_OV_AQIPM25RecordValueResponse" message="tns:PublicService_Select_T_OV_AQIPM25RecordValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_T_OV_AQIPM25RecordValue_Newest">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Get_T_OV_AQIPM25RecordValue_Newest" message="tns:PublicService_Get_T_OV_AQIPM25RecordValue_Newest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Get_T_OV_AQIPM25RecordValue_NewestResponse" message="tns:PublicService_Get_T_OV_AQIPM25RecordValue_Newest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_WX_PlatformInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_WX_PlatformInfo" message="tns:PublicService_Select_T_WX_PlatformInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_WX_PlatformInfoResponse" message="tns:PublicService_Select_T_WX_PlatformInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_T_WX_UserBuildInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/PublicService/Select_T_WX_UserBuildInfo" message="tns:PublicService_Select_T_WX_UserBuildInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PublicService/Select_T_WX_UserBuildInfoResponse" message="tns:PublicService_Select_T_WX_UserBuildInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_PublicService" type="tns:PublicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select_T_ElectricitySubTime_Dict">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_ElectricitySubTime_Dict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricitySeason_Dict">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_ElectricitySeason_Dict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricityPriceValue">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_ElectricityPriceValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricityPriceUseInfo">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_ElectricityPriceUseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricityPrice_Dict">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_ElectricityPrice_Dict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_ElectricityPrice_Adjust">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_ElectricityPrice_Adjust" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_BuildPicture">
      <soap:operation soapAction="http://tempuri.org/PublicService/Get_BuildPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_BuildPicture2">
      <soap:operation soapAction="http://tempuri.org/PublicService/Get_BuildPicture2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_ML_DiagnosticModel_BaseInfo">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_ML_DiagnosticModel_BaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_T_ML_DiagnosticModel_BaseInfo">
      <soap:operation soapAction="http://tempuri.org/PublicService/Update_T_ML_DiagnosticModel_BaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_T_ML_DiagnosticModel_BaseInfo">
      <soap:operation soapAction="http://tempuri.org/PublicService/Insert_T_ML_DiagnosticModel_BaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_T_ML_DiagnosticModel_BaseInfo">
      <soap:operation soapAction="http://tempuri.org/PublicService/Delete_T_ML_DiagnosticModel_BaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_ML_DiagnosticModel_Data">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_ML_DiagnosticModel_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_T_ML_DiagnosticModel_Data">
      <soap:operation soapAction="http://tempuri.org/PublicService/Update_T_ML_DiagnosticModel_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_T_ML_DiagnosticModel_Data">
      <soap:operation soapAction="http://tempuri.org/PublicService/Insert_T_ML_DiagnosticModel_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_T_ML_DiagnosticModel_Data">
      <soap:operation soapAction="http://tempuri.org/PublicService/Delete_T_ML_DiagnosticModel_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_ML_DiagnosticModel_Dict">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_ML_DiagnosticModel_Dict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_T_VD_Vacation">
      <soap:operation soapAction="http://tempuri.org/PublicService/Get_T_VD_Vacation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Weather">
      <soap:operation soapAction="http://tempuri.org/PublicService/Get_Weather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Forecast_Day">
      <soap:operation soapAction="http://tempuri.org/PublicService/Get_Forecast_Day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Forecast_Hour">
      <soap:operation soapAction="http://tempuri.org/PublicService/Get_Forecast_Hour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_WeatherHistory">
      <soap:operation soapAction="http://tempuri.org/PublicService/Get_WeatherHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_WeatherHistory_Day">
      <soap:operation soapAction="http://tempuri.org/PublicService/Get_WeatherHistory_Day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_OV_AQIPM25RecordValue">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_OV_AQIPM25RecordValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_T_OV_AQIPM25RecordValue_Newest">
      <soap:operation soapAction="http://tempuri.org/PublicService/Get_T_OV_AQIPM25RecordValue_Newest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_WX_PlatformInfo">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_WX_PlatformInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_T_WX_UserBuildInfo">
      <soap:operation soapAction="http://tempuri.org/PublicService/Select_T_WX_UserBuildInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicService">
    <wsdl:port name="BasicHttpBinding_PublicService" binding="tns:BasicHttpBinding_PublicService">
      <soap:address location="http://www.ttbems.com/Core/PublicService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>